.hem {
font-size: 20px;
}

/* .main{

} */
.logo{
    width: 53px;
}
.wel{
    left: 20px;
    position: relative;
    font-size: 30px;
}
.bok{
    /* margin-left: -25px; */
    padding-right: 64px;
    padding-top: 14px;
}